/* importam les fonts de lletra */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Inici del codi de header */
body{
font-family:'Open Sans';
}
header{
background-color: white;
}
.flex{
display:flex;
justify-content:center;
}
a{
color: black;
text-decoration:none;
}
.active{
background: #ff5480;
border-radius:10px;
color: white;
}
.web-icon{
width:99px;
height:29px;
display:block;
background-repeat:no-repeat;
background-position:center;
background-image:url(../assets/icons/web-icon.png);
}
/* Fi del codi de header */
/* Inici del codi de body */
ul>li>a{
padding:10px;
margin-left:20px;
}
/* Inici de la seccio de images */
.img-fluid{
background-repeat:no-repeat;
background-size:cover;
height:360px;
border-radius:10px;
}
/* fi de la seccio de imatges */
.col-lg-6 div{
justify-content:left;
}
.flex p{
margin-left:1%;
margin-right:1%;
}
.titulo{
font-size:36px;
font-weight:900;
margin-top:100px;
}
.subtitol{
font-size:18px;
font-weight:600;
margin-top:50px;
margin-bottom:100px;
}
.title{
font-family:'Open Sans';
font-size:29px;
text-align:left;
font-weight:900;
}
.subtitle{
color: #999;
font-size:16px;
text-align:left;
margin-top:15px;
}
.load-more{
border:2px solid #FF5480;
border-radius:40px;
color: #FF5480;
transition-duration:0.25s;
margin-top:100px;
margin-bottom:200px;
}
.load-more:hover{
background-color: #FF5480;
color: whitesmoke;
}
/* inici de la seccio de topics */
.topic{
display:flex;
box-shadow:0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius:8px;
align-items:center;
justify-content:center;
}
.c-t{
margin-top:14px;
}
footer .col-4{
text-align:center;
}
.web-icon-f{
width:99px;
height:29px;
display:block;
background-repeat:no-repeat;
background-position:center;
background-image:url(../assets/icons/web-icon-f.png);
}
.subscribe{
display:flex;
flex-direction:column;
align-items:center;
}
.search{
width:523px;
height:70px;
left:776px;
top:6425px;
background: #FFFFFF;
box-shadow:0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius:40px;
}
/* Fi del codi de body */
/* Inici del codi de footer */
.footer-i>a>i{
height:20px;
width:35px;
display:inline-block;
background-repeat:no-repeat;
}
.vk{
background-image:url(../assets/icons/Vk.png);
}
.pinterest{
background-image:url(../assets/icons/Pinterest.png);
}
.instagram{
background-image:url(../assets/icons/Instagram.png);
}
.twitter{
background-image:url(../assets/icons/Twitter.png);
}
.facebook{
background-image:url(../assets/icons/Facebook.png);
}
/* Fi del codi de footer */
/* Fi del codi de #NEW */
.row-posts{
display:flex;
flex-direction:column;
align-items:center;
}
.descripcio{
Flex-direction:column;
}
.tomas{
height:82px;
width:82px;
justify-content:center;
border-radius:90px;
}
.link{
color: #27AEFF;
}
.c1{
display:flex;
justify-content:flex-start;
}
.c2{
display:flex;
Justify-content:flex-end;
}
.comment2{
border:2px solid #FF5480;
border-radius:10px;
height:50px;
color: #FF5480;
padding-top:9px;
}
.subtitol3{
font-style:italic;
font-size:24px;
line-height:58px;
text-align:center;
color: #9283E0;
}