


.flex{
    display: flex;
    flex-direction: row;
    
}

.logo{
    flex-direction: row;
    margin: 10px;
}


.nav-item{
    height: 22px;
left: 0%;
right: 90.08%;
top: calc(50% - 22px/2);

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
padding:50px;
}

.img{
    height:100px;
    background-position: center;
    background-size: cover;
    background-image: url(../practica/assets/imgs/images.jpeg);
}
.new{
    width: 236px;
height: 65px;
left: 465px;
top: 225px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 58px;

/* or 161% */
letter-spacing: -0.225px;

color: #000000;


}

.logo{
    flex-direction: column;
    width: 236px;
    height: 65px;
    left: 465px;
    top: 225px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    
    /* or 161% */
    letter-spacing: -0.225px;
    
    color: #000000;
    
        

}

.descripcio{
    width: 585px;
    height: 81px;
    left: 465px;
    top: 319px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    
    /* or 178% */
    letter-spacing: -0.1125px;
    
    color: #000000;
    
    
}

.images {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  
 .t1{
    width: 377px;
    height: 25px;
    left: 465px;
    top: 918px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 58px;
    
    /* or 362% */
    display: flex;
    align-items: center;
    letter-spacing: -0.1px;
    
    color: #9B9B9B;

 }
  
  
  
  .imatge1 {
    width: 638px;
left: 432px;
top: 540px;


  }
  
  .background-img2{
    flex-direction: row;
  }

  .background-img3{
    flex-direction: row;
  }

 .titol{
    width: 377px;
height: 25px;
left: 465px;
top: 918px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;


/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;


 }

 .content{
    width: 536px;
height: 133px;
left: 1062px;
top: 964px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 46px;

/* or 164% */
letter-spacing: -0.175px;

color: #111210;
text-decoration: none;

 }

 .foot{
    width: 523px;
height: 81px;
left: 465px;
top: 5107px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;

/* or 200% */
letter-spacing: -0.1px;

color: #9B9B9B;


 }