


.flex{
    display: flex;
    flex-direction: row;
    
}


.nav-item{
    height: 22px;
left: 0%;
right: 90.08%;
top: calc(50% - 22px/2);

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
padding:50px;
}

.img{
    height:100px;
    background-position: center;
    background-size: cover;
    background-image: url(../practica/assets/imgs/images.jpeg);
}
.new{
    width: 236px;
height: 65px;
left: 465px;
top: 225px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 58px;

/* or 161% */
letter-spacing: -0.225px;

color: #000000;


}

.logo{
    flex-direction: column;
    width: 236px;
    height: 65px;
    left: 465px;
    top: 225px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    
    /* or 161% */
    letter-spacing: -0.225px;
    
    color: #000000;
    margin-top: 100px;
    margin-bottom: 100px;
        

}

.descripcio{
    width: 585px;
    height: 81px;
    left: 465px;
    top: 319px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    
    /* or 178% */
    letter-spacing: -0.1125px;
    
    color: #000000;
    
    
}

.images {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  
 .t1{
    width: 377px;
    height: 25px;
    left: 465px;
    top: 918px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 58px;
    
    /* or 362% */
    display: flex;
    align-items: center;
    letter-spacing: -0.1px;
    
    color: #9B9B9B;

 }
  
  .background-img2{
    flex-direction: row;
  }

  .background-img3{
    flex-direction: row;
  }

 .titol{
    width: 377px;
height: 25px;
left: 465px;
top: 918px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;


/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;


 }

 .content{
    width: 536px;
height: 133px;
left: 1062px;
top: 964px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 46px;

/* or 164% */
letter-spacing: -0.175px;

color: #111210;
text-decoration: none;

 }

 .foot{
    width: 523px;
height: 81px;
left: 465px;
top: 5107px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;

/* or 200% */
letter-spacing: -0.1px;

color: #9B9B9B;
 }


.boton{
    flex-direction: row;
    display: flex;
    justify-content:center;
}
 .button{
    box-sizing: border-box;

left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 2px solid #FF5480;
border-radius: 40px;

   
left: 21.08%;
right: 20.1%;
top: calc(50% - 33px/2 - 0.5px);

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;

/* identical to box height */
letter-spacing: -0.5px;

color: #FF5480;
margin:200px;

 }

 .topics{
    width: 236px;
height: 65px;
left: 465px;
top: 5654px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 58px;

/* or 161% */
letter-spacing: -0.225px;

color: #000000;
margin-left:140px;

 }

 .gird{
    display: flex;
    justify-content: center;
 }

 
.column{
    width: 276px;
height: 146px;
left: 1357px;
top: 5751px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;
}

.txt{
    width: 97px;
height: 32px;
left: 545px;
top: 5808px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 58px;

/* or 322% */
display: flex;

letter-spacing: -0.1125px;

color: #111210;


}

h3 {
    width: 685px;
height: 65px;
left: 711px;
top: 6263px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
line-height: 58px;

/* or 121% */
display: flex;
align-items: center;
letter-spacing: -0.3px;

color: #111210;


  }
  
  .form input {
    border-radius: 9px;
  }
  .text {
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }